<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="s1513911.gcu.s1513911_hons">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="GCU INFO"
        android:supportsRtl="true"
        android:theme="@style/Theme.Speech"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".appUniContact"></activity>
        <activity
            android:name=".appUniDepartments"
            android:noHistory="true" />
        <activity
            android:name=".appUniLibrary"
            android:noHistory="true" />
        <activity
            android:name=".appUniBuildings"
            android:noHistory="true" />
        <activity
            android:name=".appUniBg"
            android:noHistory="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".SpeechService" />
    </application>

</manifest>